# FastAPI и веб-фреймворк
fastapi
uvicorn[standard]
pydantic
pydantic-settings

# OCR и обработка изображений
paddleocr
paddlepaddle
opencv-python
pillow
numpy

# Обработка PDF
pdf2image
PyMuPDF

# Валидация и утилиты
python-multipart

# Логирование
loguru

# dev:
pytest
pytest-asyncio
#httpx==0.26.0
#black==23.12.1
#flake8==7.0.0
#mypy==1.8.0